@model Nop.Plugin.Misc.Newsman.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="Newsman" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>
                    NEWSMAN
                    <br />
                    For plugin configuration follow these steps:<br />
                    <br />
                    1. Sign up for a <a href="https://newsman.com" target="_blank"> Newsman account</a>.<br />
                    2. Log in at the Newsman service.<br />
                    3. Create a list.<br />
                    4. Get your API Key.
                </p>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="UserId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UserId" asp-required="true" html-attributes="@(new { value = Model.UserId })" />
                        <span asp-validation-for="UserId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" asp-required="true" html-attributes="@(new { value = Model.ApiKey })" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ImportType" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ImportType" asp-items="Model.AvailableImportTypes" asp-required="true" />
                        <span asp-validation-for="ImportType"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AllowApi" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="AllowApi" asp-items="Model.AvailableApi" />
                        <span asp-validation-for="AllowApi"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ListId_OverrideForStore" asp-input="ListId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ListId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ListId" asp-items="Model.AvailableLists" />
                        <span asp-validation-for="ListId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SegmentId_OverrideForStore" asp-input="SegmentId" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SegmentId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="SegmentId" asp-items="Model.AvailableSegments" />
                        <span asp-validation-for="SegmentId"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <p>
                        <br />
                        Synchronization URL, can be used for CRON JOB to auto sync, last x subscibers/customers: <a href="@ViewData["syncUrlCron"].ToString()" target="_blank">@ViewData["syncUrlCron"].ToString()</a>
                        <br />
                        <br />
                        Synchronization URL, all database, it should be done one time: <a href="@ViewData["syncUrl"].ToString()" target="_blank">@ViewData["syncUrl"].ToString()</a>
                    </p>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>